<div class="text-center">
    <h2>Favorited Songs</h2>
    <%results.forEach(result => {%>
        <h4>
            <a href="<%= result.trackLink %>"> <%= result.trackName %></a>
        </h4>
    <%})%>
</div>