<link rel="stylesheet" href="css/style.css">
<div class="text-center">
    <h2>Favorited Songs</h2>
    <%favorites.forEach(favorite => {%>
        <h4>
            <a href="<%= favorite.trackLink %>"> <%= favorite.trackName %></a>
        </h4>
    <%})%>
</div>