<div class="text-center">
    <h2>Favorite Songs:</h2>
    <%histories.forEach(history => {%>
        <div class="favorites">
            <h4><%= history.genre %></h4>
            <h4><%= history.year %></h4>
        </div>
    <%})%>
</div>