<div class="home">
    <h2>Relive your most formative life stages by filtering top music genres by year.</h2>
    <h3><a href="/auth/signup">Sign up</a> or <a href="/auth/login">log in</a> to begin.</h3>
    <div class="recordplayer">
        <img src="https://i.gifer.com/Dydi.gif" alt="record player" style = "height: 200px">
    </div>
    </br>
    <h4>Coded by a millenial who wanted a better way to filter for the mid-2000s pop + alternative rock that she played on the boombox in her room.</h4>
    <p>--
    </br>
    Music Time Machine is a CRUD RESTful API application that utilizes the Node.js environment, Express.js server and a PostgreSQL database. API used is the Spotify Web API.</p>
</div>
