@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@400;500;600;700&display=swap');

body {
    background-color: #131313;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

header {
    text-align: center;
}

nav ul {
   text-align: right;
    
}
nav li {
    display: inline-block;
    margin: 0 10px;
}

h1 {
    font-size: 80px;
    font-family: 'Lobster', cursive;
/*  font-family: 'Lobster', cursive;
    font-family: 'Pacifico', cursive; */
}

h2,h3,h4 {
    text-align: center;
}

h3 {
    margin: 10px 0 0 0;
}

h4 {
    padding: 5px;
    margin: 0;
}

h5 {
    font-weight: 400;
    color: #AAAAAA;
    margin: 0;
    padding-top: 3px;
}

form {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

h2 a {
    text-decoration: underline;
    font-weight: 600;
    color: #FFFFFF;;
}

a {
    font-weight: 500;
    text-decoration: none;
    color: #FFFFFF;
}

a:hover {
    text-decoration: underline;
}
.data a {
    text-decoration: underline;
    font-weight: 500;
    color: #65D36E;
}

.data-search {
    margin-top: 25px;
}
.data-search a {
    text-decoration: underline;
    font-weight: 500;
    color: #65D36E;
}


button {
    font-family: inherit;
    font-weight: 600;
    background-color: none;
    border: none;
    padding: 5px 8px;
    margin-top: 10px;
}
/* delete button for favorited tracks */
.button input[type=submit] {
    background-color: #131313;
    color: #AAAAAA;
    text-decoration: underline;
    border: none;
    cursor: pointer;

}

.nodata {
  text-align: center;
}

.nodata a {
    color: #AAAAAA;
    text-decoration: underline;
  }

.signup, .favorites {
    font-weight: 500;
    color: #AAAAAA;
    text-decoration: none;
}

.signup:hover, .favorites:hover {
    font-weight: 500;
    color: #FFFFFF;
    text-decoration: none;
}

.favorites, .history {
    margin-top: 15px;
}

.album {
    margin: 30px 0;
    text-align: center;
}

.login {
    font-family: inherit;
    font-weight: 600;
    background-color: none;
    border: none;
    padding: 5px 8px;
    margin-top: 10px;
}

.home {
    display: inline-block;
    text-align: center;
    margin: auto 0;
    width: 500px;
}

.home a {
    font-weight: 600;
    text-decoration: underline;
    color: #65D36E;
}

.home h3 {
    color: #65D36E;
}

.home p {
    margin-top: 70px;
    color: #AAAAAA;
    font-size: 12px;
}

.suggestions {
    text-align: justify;
    display: inline-block;
    margin: auto 0;
    padding-top: 10px;
    padding-bottom: 20px;
}

.recordplayer {
    margin-top: 20px;
}

#genre, #year {
    font-family: inherit;
    font-weight: 600;
    font-size: 18px;
    padding: 10px;
    margin: 0 10px;
}

#auth-email, #auth-password, #new-email, #new-password, #new-name {
    font-family: inherit;
    font-weight: 600;
    width: 200px;
    font-size: 12px;
    padding: 5px 10px;
    margin: 0 10px;
}

#submit {
    font-family: inherit;
    font-weight: 600;
    font-size: 20px;
    background-color: #65D36E;
    border: none;
    padding: 10px;
    margin-left: 10px;
}

#favorite-button {
    cursor: pointer;
}
