@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@400;500;600;700&display=swap');

body {
    background-color: #131313;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 80px;
    font-family: 'Lobster', cursive;
/*  font-family: 'Lobster', cursive;
    font-family: 'Pacifico', cursive; */
}

ul {
    list-style-type: none;
}

.signup {
    font-weight: 500;
    color: #AAAAAA;
    text-decoration: none;
}

.signup:hover {
    font-weight: 500;
    color: #FFFFFF;
}
