<h2>Profile Settings:</h2>
User name: <h4><%= currentUser.name %></h4>
<form action="/profile/edit">
    <button type="submit">Edit</button>
</form>
<h2>
  <a href="/search/history">View Search History</a>
</h2>
<h2>
  <a href="/favorites">View Favorites</a>
</h2>