<form action="/profile/?_method=PUT" method="POST">
    <label for="profileName">Name</label>
    <input type="text" id="profileName" name="name" value="<%= currentUser.name %>">
    <input type="submit" value="Update name">
</form>