
<div class="text-center">
    <h2>Search History:</h2>
    <%histories.forEach(history => {%>
        <div class="history">
            <%= history.genre %>: <%= history.year %>
        </div>
    <%})%>
</div>
<div class= data-search>
    <a href="/search">New Search</a>
  </div>